@model HouseOfSynergy.AffinityDms.Entities.Tenants.Document
@{

    var errormessage = (ViewBag.ErrorMessage != null) ? (ViewBag.ErrorMessage) : (string.Empty);
    var successmessage = (ViewBag.SuccessMessage != null) ? (ViewBag.SuccessMessage) : (string.Empty);
    string displayError = "none", displaySuccess = "none";
    if (!(string.IsNullOrEmpty(errormessage)))
    {
        displayError = "";
    }
    if (!(string.IsNullOrEmpty(successmessage)))
    {
        displaySuccess = "";
    }
    <div id="DocumentDiscourseViewerErrorMessage" style="display:@displayError">
        <div class="alert alert-danger" style="overflow:auto">
            <div style="float:right;" class="col-sm-12 col-md-12 col-lg-12"><b style="float:right;cursor:pointer" data-hideMessageDiv="#DocumentDiscourseViewerErrorMessage" id="hideMessageDiv">X</b></div>
            <div style="word-wrap: break-word;margin-right:30px" id="DocumentDiscourseViewerErrorMessageText">@errormessage</div>
        </div>
    </div>
        <div id="DocumentDiscourseViewerSuccessMessage" style="display:@displaySuccess">
            <div class="alert alert-success" style="overflow:auto">
                <div style="float:right;" class="col-sm-12 col-md-12 col-lg-12"><b style="float:right;cursor:pointer" data-hideMessageDiv="#DocumentDiscourseViewerSuccessMessage" id="hideMessageDiv">X</b></div>
                <div style="word-wrap: break-word;margin-right:30px" id="DocumentDiscourseViewerSuccessMessageText">@successmessage</div>
            </div>
        </div>

}
<style>
    div#thumbnails-container-Div {
        display: none;
    }
</style>
<style type="text/css">
    .modal-fullscreen {
        background-color: transparent; /*#ebedf2;*/
        top: 0% !important;
    }

        .modal-fullscreen .modal-content {
            background: white;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

    .modal-backdrop.modal-backdrop-fullscreen {
        background: #ebedf2;
    }

        .modal-backdrop.modal-backdrop-fullscreen.in {
            opacity: .97;
            filter: alpha(opacity=97);
        }

    /* .modal-fullscreen size: we use Bootstrap media query breakpoints */

    .modal-fullscreen .modal-dialog {
        margin: 0;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

    @@media (min-width: 768px) {
        .modal-fullscreen .modal-dialog {
            width: 750px;
        }
    }

    @@media (min-width: 992px) {
        .modal-fullscreen .modal-dialog {
            width: 970px;
        }
    }

    @@media (min-width: 1200px) {
        .modal-fullscreen .modal-dialog {
            width: 1170px;
        }
    }
</style>
@if (Model != null)
{
    var discourseCounter = 0;
    var document = this.Model;
    var docName = "";
    var createdBy = "Created by ";
    if (document != null)
    {
        if (document.DiscussionPostDocuments.Count > 0)
        {
            var disticntDiscourses = document.DiscussionPostDocuments.Select(x => x.Discourse).Distinct().ToList();
            discourseCounter = disticntDiscourses.Count;
        }
        docName = System.IO.Path.GetFileNameWithoutExtension(document.Name);
        createdBy += document.User.NameFull;
    }
    var foldername = (document.Folder != null) ? (document.Folder.Name) : ("Documents");


    ViewBag.Title = "DocumentPostViewer";
    Layout = "~/Views/Shared/_LayoutTenantThemePrivate.cshtml";

    this.ViewBag.IsDocumentPostViewer = true;
    this.ViewBag.DocumentInformation = docName + "   |   " + createdBy;// +"   |   Last Edited Aug 1, 2016";
    this.ViewBag.DocCurrentPageNumber = "NaN";
    this.ViewBag.DocTotalPageNumber = "NaN";
    this.ViewBag.ZoomPercentage = "100 %";
    this.ViewBag.Type = "Document";
    this.ViewBag.BreadCrumbsPath = "<li><a href='../../Tenants/Dashboard'>Home</a></li><li><a href='../../TenantDocumentsFolderWise/index'>Knowledge</a></li><li><a href='#'>" + foldername + "</a></li><li><a href='../../Document/DocumentDiscourseViewer/" + document.Id + "' >Document Chat Viewer</a></li>";


    <input type="hidden" value="@Model.Id" id="hdocId" data-name="@Model.Name" />
    <input type="hidden" value="@discourseCounter" id="docDiscourseCounter" />
    <input type="hidden" value="true" id="IsDiscourseDocumentCreatePostModal" />
    @*if (this.ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            @this.ViewBag.ErrorMessage
        </div>
    }*@



   
    @*/*
         this.ViewBag.IsDocumentPostViewer = true;
                    this.ViewBag.DocumentInformation = "Company Agreement   |   Created by Dex   |   Last Edited Aug 1, 2016";
                    //ZoomInPercentageId            +
                    //ZoomPercentageId              50%
                    //ZoomOutPercentageId            -
                    //DocCurrentPageNumberId         1
                    //DocTotalPageNumberId          12
                    //DocPreviousPageId             <
                    //DocNextPageId             >

        */*@
    <div>
        <div id="document">
            <!-- top -->
            <!-- Left side -->
            <div class="data-view" style="background-color:white!important">
                <div class="col-xs-7">


                    <div class="panel table-col-box" style="border: 1px solid #cccccc">
                        <div class="widget-body" style="overflow:hidden!important">
                            <div id="left-doc" class="widget-main" style="overflow:hidden!important">
                                <!-- top -->
                                @*<h1>Company Agreement<img src="../../Images/Themes/doc-logo.png" class="pull-right" width="50" height="50"></h1>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-1"><span class="num-bg">1</span></div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-11" style="margin-left:10px">
                                        <p>Short-term rental of all sorts of products (excluding real estate and holiday apartments) already represents an estimated €108 billion ($160 billion) annual market in Europe and is expected to grow further as the internet makes it easier to find specific items available for rent.[2] According to a poll by YouGov, 76% of people looking to rent would go to the internet first to find what they need; rising to 88% for those aged 25–34.[3]</p>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-xs-1"><span class="num-bg">2</span></div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-11" style="margin-left:10px">
                                        <p>Short-term rental of all sorts of products (excluding real estate and holiday apartments) already represents an estimated €108 billion ($160 billion) annual market in Europe and is expected to grow further as the internet makes it easier to find specific items available for rent.[2] According to a poll by YouGov, 76% of people looking to rent would go to the internet first to find what they need; rising to 88% for those aged 25–34.[3]</p>
                                    </div>*@

                                @{
                                    Html.RenderPartial("~/Views/Tenants/DocumentViewer/_DocumentViewer.cshtml", this.Model);
                                }
                            </div>
                        </div>
                    </div>

                </div>

                <!-- //Left side -->
                <!-- right side -->
                <div class="col-xs-5">

                    <div class="panel">
                        <div class="widget-body">
                            <div class="widget-main no-padding-right">
                                <div id="DiscourseDocumentPostsContainer">
                                    @*id="right-doc"*@


                                    @{
                                        Html.RenderPartial("~/Views/Tenants/Documents/_DocumentDiscourseMaxPostMaxVersion.cshtml", this.Model);
                                    }


                                </div>
                                <!-- Scrool -->


                                <div class="post-box" style="display:none">

                                    <div class="col-xs-1">
                                        <i class="fa fa-3x fa-circle" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-xs-11">

                                        <textarea name="Type Something |" cols="" rows=""></textarea>
                                    </div>

                                    <div class="clearfix pull-right panel-body">
                                        <img src="../../Images/Themes/track.png" width="23" height="23" style="margin-top:10px;">  &nbsp;
                                        <button class="btn btn-primary  btn-radius pull-right">Comment</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- / right side -->



            </div>
        </div>

    </div>

    <div class="modal fade modal-fullscreen force-fullscreen" id="DiscourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow:scroll">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onClick="javascript: CloseDiscourseModal(event)" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="DiscourseModalLabel"></h4>
                </div>
                <div class="modal-body" id="DiscourseModalContainer" style="display:inline-block">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



                                        }


<script type="text/javascript">
    $(document).ready(function (e) {
        var docViewer = new AffinityDms.Entities.DocumentViewer();
        docViewer.run();

        if ($("DocumentDiscourseViewerErrorMessageText") != null) {
            if ($("#DocumentDiscourseViewerErrorMessageText").text() != null || $("#DocumentDiscourseViewerErrorMessageText").text() != "") {
                setTimeout(function () {
                    $('#DocumentDiscourseViewerErrorMessage').fadeOut('fast');
                    $("#DocumentDiscourseViewerErrorMessage").css("display", "none");
                    $("#DocumentDiscourseViewerErrorMessageText").text("");
                }, AffinityDms.Settings.Constants.PopUpNotificationTimer);
            }
        }
        if ($("DocumentDiscourseViewerSuccessMessageText") != null) {
            if ($("#DocumentDiscourseViewerSuccessMessageText").text() != null || $("#DocumentDiscourseViewerSuccessMessageText").text() != "") {
                setTimeout(function () {
                    $('#DocumentDiscourseViewerSuccessMessage').fadeOut('fast');
                    $("#DocumentDiscourseViewerSuccessMessage").css("display", "none");
                    $("#DocumentDiscourseViewerSuccessMessageText").text("");
                }, AffinityDms.Settings.Constants.PopUpNotificationTimer);
            }
        }

    });
    var discourses = new AffinityDms.Entities.Discourses();
    function ViewDiscourseModal(event) {

        var id = event.target.getAttribute("data-id");
        var url = "../../TenantDiscourse/PartialDiscourse/" + id;
        $("#DiscourseModalContainer").text("");
        $("#DiscourseModalLabel").text("View Chat");
        $("#DiscourseModalContainer").load(url, function () {
            if ($("#discourseCommentEditor") != null) {
                if ($("#showDiscourseComment") != null) {
                    $("#showDiscourseComment").hide();
                }
                $("#discourseCommentEditor").show();
                var eee = $("#CommentTextEditor").data("kendoEditor");
                //var editor = $('#CommentTextEditor');//.kendoEditor();
                if (eee != null) {
                    setTimeout(function () { eee.focus(); }, 1000);
                }
            }
        });
        $("#DiscourseModal").modal({ backdrop: 'static' })
    }
    function CloseDiscourseModal(event) {
        $("#DiscourseModalContainer").text("");
        $("#DiscourseModal").modal("hide")
    }
    
</script>