
@{
    this.Layout = "~/Views/Shared/_LayoutTenantThemePrivate.cshtml";
}
@{
    ViewBag.Title = "Document Merge";
}

<h2>Document Merge</h2>

@Scripts.Render("~/bundles/TypeScript")


<script type="text/javascript">
    var documents = new AffinityDms.Entities.Documents();
</script>

<input type="hidden" value="@this.ViewBag.Id" id="hdocId" />

<div style="max-height:650px;overflow:auto">

    <div>
        <div id="document">
            <!-- top -->
            <!-- Left side -->
            <div class="data-view" style="background-color:white!important">
                <div class="col-xs-7">
                    <label id="lblprojecttags">Select Document to Merge</label>&nbsp;&nbsp;
                    
                    @if (TempData["Docs"] != null)
                    {
                        //@Html.DropDownList("Documents", ((List<SelectListItem>)TempData["Docs"]).Select(m => new SelectListItem { Text = m.Text, Value = m.Value }));
                        @Html.DropDownList("DocId", (IEnumerable<SelectListItem>)ViewBag.Docs, "Select Document", new { id="ddldocs", @class = "extra-class" })


                    }

                    <a href="#" id="btnaction" onclick="OnActionClicknew(1)" class="dash-link active"> Merge </a>
                    <a href="#" onclick="OnActionClicknew(0)" class="dash-link">Cancel</a>


                    @*<div class="panel table-col-box" style="border: 1px solid #cccccc">
                        <div class="widget-body" style="overflow:hidden!important">
                            <div id="left-doc" class="widget-main" style="overflow:hidden!important">
                              
                                @{
                                    <iframe id="myframe" src='@(System.Configuration.ConfigurationManager.AppSettings["openfile"])' width="596" height="1273"></iframe>
                                }
                            </div>
                        </div>
                    </div>*@

                </div>

               
            </div>

        </div>
        <!-- / right side -->
    </div>
</div>
<script>
     var urll = "@Url.Action("processdocumentmerge", "DocumentMerge")";


    function OnActionClicknew(arg) {

        var Page1 = $("#ddldocs").val();
    var Page2 = $("#hdocId").val();  

    alert(Page1);
    alert(Page2);

                $.ajax({url: urll,type: "POST",dataType: "json",data: {id: Page1, Id2:Page2},
                error: function (response) {alert("error");},
                success: function (response)
                {
    alert("Action completed!");
                    window.location.href="/tenants/TemplatesWorkflow";
              }
    });
    }

                function JsonpCallback(json)  {}
</script>





