@model HouseOfSynergy.AffinityDms.Entities.Tenants.Document

@{
    var postsCounter = 1;
    var document = this.Model;
    if (document != null)
    {
        if (document.DiscussionPostDocuments.Count > 0)
        {
            var disticntDiscourses = document.DiscussionPostDocuments.Select(x => x.Discourse).Distinct().ToList();
            foreach (var disticntDiscourse in disticntDiscourses)
            {
                var discoursePostsList = disticntDiscourses.Where(x => x.Id == disticntDiscourse.Id).Select(x => x.Posts).ToList();
                if (discoursePostsList.Count > 0)
                {
                    var discoursePosts = discoursePostsList.SelectMany((x => x.Select(y => y))).ToList();
                    if (discoursePosts.Count > 0)
                    {
                        var discourseMaxPostId = discoursePosts.Select(x => x.Id).Max();
                        if (discourseMaxPostId > 0)
                        {
                            var discourseMaxPost = discoursePosts.Where(x => x.Id == discourseMaxPostId).FirstOrDefault();
                            if (discourseMaxPost != null)
                            {
                                var discourseMaxPostVersionId = discourseMaxPost.Versions.Select(x => x.Id).Max();
                                if (discourseMaxPostVersionId > 0)
                                {
                                    var discourseMaxPostVersion = discourseMaxPost.Versions.Where(x => x.Id == discourseMaxPostVersionId).FirstOrDefault();
                                    <div class="col-md-1" style="margin-top:25px;"><span class="num-bg">@postsCounter</span></div>
                                    <div class="col-md-11">
                                        <div class="post-display" >@*onClick="javascript: ViewDiscourseModal(event)" data-id="@disticntDiscourse.Id"*@
                                            <p>
                                                <strong>@disticntDiscourse.Topic</strong><br>
                                                @Html.Raw(discourseMaxPostVersion.Comments)
                                            </p>
                                            <p>
                                                @{ 
                                                    string attachmentsStr = "";
                                                    //discourseMaxPostVersion.Attachments.ToList().ForEach(x => );
                                                    foreach (var itemAttachment in discourseMaxPostVersion.Attachments.ToList())
                                                    {
                                                        attachmentsStr += HouseOfSynergy.AffinityDms.WebRole.Classes.CustomHelpers.CustomHtmlHelpers.GetAttachmentsString(itemAttachment);
                                                    }
                                                }
                                                @Html.Raw(attachmentsStr)@*//document.DiscussionPostDocuments.Where(x => x.PostVersionId == discourseMaxPostVersion.Id).FirstOrDefault()*@
                                                @*@Html.Raw(GetAttachments(document.DiscussionPostDocuments.Where(x => x.PostVersionId == discourseMaxPostVersion.Id).FirstOrDefault()))*@
                                            </p>
                                            <div class="clearfix"></div>
                                            <span class="pull-left"> <img src="../../Images/Themes/time.png" width="15" height="15"> @discourseMaxPostVersion.DateTime </span>   <span class="pull-right" style="cursor:pointer"><a onClick="javascript: ViewDiscourseModal(event)" data-id="@disticntDiscourse.Id">Comment </a></span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <hr size="1">
                                    </div>
                                    postsCounter++;
                                }
                            }
                        }

                    }

                }
            }
        }
    }

}
@*@functions{
        public string GetAttachments(HouseOfSynergy.AffinityDms.Entities.Tenants.DiscoursePostVersionAttachment x)
        {
            string s = "";
            if (x != null)
            {
                if (x.Template != null)
                {
                    if (x.Template.TemplateType == HouseOfSynergy.AffinityDms.Entities.Lookup.TemplateType.Template)
                    {
                        s += "<a onclick='javascript: window.open(\"/TenantTemplateRenderView/Index/" + x.TemplateId + "\")'><img src='../../Multimedia/Graphics/Images/Template.png' title='" + x.Template.Title + "' style='max-width:24px'></a>";
                    }
                    else if (x.Template.TemplateType == HouseOfSynergy.AffinityDms.Entities.Lookup.TemplateType.Form)
                    {
                        s += "<a href='javascript: window.open(\"/TenantFormProtectedView/Index/" + x.TemplateId + "\")'><img src='../../Multimedia/Graphics/Images/Form.png' title='" + x.Template.Title + "' style='max-width:24px'></a>";
                    }
                }
                else if (x.Document != null)
                {
                    s += "<a href='javascript: window.open(\"/TenantDocumentIndex/DocumentIndexReadOnlyView/" + x.DocumentId + "\")'><img src='../../Multimedia/Graphics/Images/Document.png' title='" + x.Document.Name + "' style='max-width:24px'></a>";
                }
                else if (x.AttachmentType == HouseOfSynergy.AffinityDms.Entities.Lookup.DiscussionPostAttachmentType.External)
                {
                    if (!string.IsNullOrWhiteSpace(x.Url))
                    {
                        //<a href="@Url.Action("Index","TenantDocumentViewer",new { id=attachment.Id,type=HouseOfSynergy.AffinityDms.Entities.Lookup.DiscussionPostAttachmentType.External})" data-type="@Convert.ToInt16(HouseOfSynergy.AffinityDms.Entities.Lookup.DiscussionPostAttachmentType.External)" data-id="@attachment.Id" data-url="@attachment.Url" data-name="@attachment.Url"><img src="../../Multimedia/Graphics/Images/Browse.png" title="@attachment.Url" style='max-width:19px'></a>
                        s += "<a href='javascript: window.open(\"/TenantDocumentViewer/Index/" + x.Id + "?type=External\")'><img src='../../Multimedia/Graphics/Images/Browse.png' title='" + x.FileNameClient + "' style='max-width:20px;width:20px ;height:18px'></a>";
                    }
                }
                else if (x.AttachmentType == HouseOfSynergy.AffinityDms.Entities.Lookup.DiscussionPostAttachmentType.Live)
                {
                    if (!string.IsNullOrWhiteSpace(x.Url))
                    {
                        string javascripturl = "javascript: window.open(/^(http|https|ftp):/.test(\"" + x.Url + "\") ? \"" + x.Url + "\" : \"http://" + x.Url + "\")";
                        s += "<a href='" + javascripturl + "'><img src='../../Multimedia/Graphics/Images/Url.png' title='" + x.Url + "' style='max-width:20px;width:20px ;height:18px'></a>";
                    }
                }
            }

            return (s);
        }

    }*@
