@model HouseOfSynergy.AffinityDms.Entities.Tenants.DiscoursePostVersion
@if (this.Model != null)
{
    var AttachmentsId = "PostAttachments" + this.Model.PostId;
    var PostComment = "PostComment" + this.Model.PostId;

    if (this.ViewBag.CurrentUser == null) { this.ViewBag.CurrentUser = -1; }
    if (this.ViewBag.EnableHistory == null) { this.ViewBag.EnableHistory = false; }
    if (this.ViewBag.CurrentUser == this.Model.Post.UserId)
    {
        <li class="left clearfix">
            <div class="chat-body1 clearfix">
                <p id="@PostComment">
                    @Html.Raw(this.Model.Comments)
                    <div id="@AttachmentsId">
                        @if (this.Model.Attachments != null)
                        {
                            foreach (var attachment in this.Model.Attachments)
                            {
                                var attachmentStr = HouseOfSynergy.AffinityDms.WebRole.Classes.CustomHelpers.CustomHtmlHelpers.GetAttachmentsString(attachment);
                                    <span>@Html.Raw(attachmentStr)</span>
                            }
                        }
                    </div>
                </p>
            </div>
            <div class="chat_time pull-right">
                @if (this.ViewBag.EnableHistory)
                {
                    <a href="#" data-type="ViewCommentHistory" data-id="@this.Model.PostId" onclick="javascript: discourses.ShowDynamicModal(event)"><i class="fa fa-history" title="History" aria-hidden="true"></i></a>
                }
                &nbsp;
                <a onclick="javascript: discourses.EditComment(event)" data-id="@this.Model.PostId" data-type="Comment"> <i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit"></i></a>
                &nbsp;
                <strong>Posted By @this.Model.Post.User.NameFull - </strong> @this.Model.DateTime
            </div>
        </li>
        
    }
    else
    {
        <li class="left clearfix admin_chat">
            <div class="chat-body12 clearfix">
                <p id="@PostComment">
                    @Html.Raw(this.Model.Comments)
                    <div id="@AttachmentsId">
                        @if (this.Model.Attachments != null)
                        {
                            foreach (var attachment in this.Model.Attachments)
                            {
                                var attachmentStr = HouseOfSynergy.AffinityDms.WebRole.Classes.CustomHelpers.CustomHtmlHelpers.GetAttachmentsString(attachment);
                                <span>@Html.Raw(attachmentStr)</span>
                            }
                        }
                    </div>
                </p>
            </div>
            <div class="chat_time pull-left">
                @if (this.ViewBag.EnableHistory)
                {
                    <a href="#" data-type="ViewCommentHistory" data-id="@this.Model.PostId" onclick="javascript: discourses.ShowDynamicModal(event)"><i class="fa fa-history" title="History" aria-hidden="true"></i></a>
                }
                &nbsp;
                <strong>Posted By @this.Model.Post.User.NameFull - </strong> @this.Model.DateTime
            </div>
        </li>
        
    }
}

