@model List<HouseOfSynergy.AffinityDms.WebRole.Models.Tenants.AzureTenantConflictViewModel>
@{
    ViewBag.Title = "TenantAzureUserConflicts";
    this.Layout = "~/Views/Shared/_LayoutTenantThemePrivate.cshtml";
}

<h2>Tenant Azure User Conflicts</h2>

<div class="col-md-12">
    @(Html.Kendo().Grid(Model).Name("TenantUserAdUserConflictGrid").Columns(
        column =>
        {
            column.Group(group => group
                            .Title("Azure User")
                            .HeaderHtmlAttributes(new { @style = "text-align: center" })
                            .Columns(azureuser =>
                            {
                                azureuser.Bound(item => item.AzureUser.NameFull).Title("Name");
                                azureuser.Bound(item => item.AzureUser.ActiveDirectory_ObjectId).Title("Object Id");
                                azureuser.Bound(item => item.AzureUser.Email).Title("Email");
                                azureuser.Bound(item => item.AzureUser.AuthenticationType).Title("Type");
                            }));
            column.Group(group => group
                            .Title("Tenant User")
                            .HeaderHtmlAttributes(new { @style = "text-align: center" })
                            .Columns(tenantuser =>
                            {
                                tenantuser.Bound(item => item.TenantUser.NameFull).Title("Name");
                                tenantuser.Bound(item => item.TenantUser.ActiveDirectory_ObjectId).Title("Object Id");
                                tenantuser.Bound(item => item.TenantUser.Email).Title("Email");
                                tenantuser.Bound(item => item.TenantUser.AuthenticationType).Title("Type");
                            }));
        }
    ).Resizable(resize => resize.Columns(true))
    .Sortable()
    .Scrollable(scr => scr.Height(300))
    )
   
</div>
@*<table>
    <thead>
        <tr>
            <th>
                Azure Name
            </th>
            <th>
                Azure Object Id
            </th>
            <th>
                Azure Email
            </th>
            <th>
                Local Name
            </th>
            <th>
                Local Object Id
            </th>
            <th>
                Local Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var UserVM in Model)
        {
            <tr>
                <th>@UserVM.AzureUser.NameFull</th>
                <th>@UserVM.AzureUser.ActiveDirectory_ObjectId</th>
                <th>@UserVM.AzureUser.Email</th>
                <th>@UserVM.TenantUser.NameFull</th>
                <th>@UserVM.TenantUser.ActiveDirectory_ObjectId</th>
                <th>@UserVM.TenantUser.Email</th>
                <th>@UserVM.Reason</th>
            </tr>
        }
    </tbody>
</table>*@