@*@model HouseOfSynergy.AffinityDms.WebRole.Models.Tenants.TemplateElementListAndElementDetailListViewModel*@
@model List<HouseOfSynergy.AffinityDms.WebRole.Controllers.Tenants.MvcLT.LstIndexes>

@{
    ViewBag.Title = "Template Index List Method 2";
    this.Layout = "~/Views/Shared/_LayoutTenantThemePrivate.cshtml";
}


<h2>Template Index List Method 2</h2>



@Scripts.Render("~/bundles/TypeScript")



<script type="text/javascript">
    var designer = new AffinityDms.Entities.FormDesigner();
</script>
@using (Html.BeginForm("Index", "TenantTemplateIndexListLT", FormMethod.Post, new { enctype = "multipart/form-data" }))

{

    @*<div style="padding-left:5px">
        <table>
            <tr><td>Project Name : @Session["ProjectName"]</td></tr>

            <tr>
                <td style="border:1px solid #e0e0e0">
                    Result &nbsp;:-&nbsp;
                    @if (ViewBag.ProjectResult != null)
                    {
                        @Html.Raw(HttpUtility.HtmlDecode(ViewBag.ProjectResult.ToString().Replace("&nbsp;&nbsp;", "&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;")))
                    }
                    &nbsp; &nbsp;
                </td>
            </tr>
        </table>

    </div>*@

    <div id="n-scroll" class="col-xs-7" style="height:450px;width:800px;">



        <div class="panel table-col-box" style="overflow:scroll;height:320px;width:800px;">
            <div class="widget-body">
                <div id="left-doc" class="widget-main" tabindex="0">
                    <table width="100%" cellpadding="5">
                        <tr>
                            <td>
                                <div class="form-group" id="DivImage" name="DivImage" style="display:block">
                                    <div class="col-md-3 form-control" style="width:95%;margin-left: 1%">
                                        <input type="file" name="file" id="file">
                                    </div>
                                </div>
                            </td>
                            <td><input type="submit" id="btnupload" value="Upload" class="=btn btn-primary btn-radius" /></td>
                            <td><input type="button" id="btnprocessocr" style="display:none" value=" Process OCR Extract Index " class="=btn btn-primary btn-radius" /></td>
                        </tr>
                    </table>

                    @{
                        
                            if (Session["ServerSavePathOPDF"] != null)
                            {
                            <iframe id="myframe" src='@(System.Configuration.ConfigurationManager.AppSettings["openfile"] + Session["ServerSavePathOPDF"])' width="475" height="1273"></iframe>
                        }


                        @*if (Session["imgbyte"] != null)
                        {
                            System.Drawing.Image img = (System.Drawing.Image)Session["tempimg"];
                            byte[] imgbytearray = (byte[])Session["imgbyte"];
                            string imageBase64Data = Convert.ToBase64String(imgbytearray);
                            string imageDataURL = string.Format("data:image/png;base64,{0}", imageBase64Data);
                            if (img.Size.Width > 0)
                            {
                                <svg id="mySVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background-image:url(@imageDataURL)" width="@img.Size.Width.ToString()px" height="@img.Size.Height.ToString()px">
                                </svg>

                            }
                        }*@
                    }

                </div>
            </div>
        </div>
    </div>



    <div class="col-xs-5" style="width:300px;float:right;height:400px;">

        <div class="panel" style="width:300px;float:right">
            <div class="widget-body">
                <div class="widget-main no-padding-right">
                    <div id="right-doc" style="overflow: scroll; height: 498px; padding-top:10px" tabindex="1">
                       
                       @if (@ViewBag.FileType != null)
                       {

                        <table>
                            <tr>
                                <td>File Type  </td><td> : @ViewBag.FileType </td>
                            </tr>
                            <tr>
                                <td> Total Files</td>
                                <td> : @ViewBag.FileCount</td>
                            </tr>
                            <tr>
                                <td>Total Pages</td>
                                <td> : @ViewBag.TotalPageCount</td>
                            </tr>
                        </table>
                       }
                        <br /><br />

                        @{
                            int I = 1;
                            if (ViewBag.LstIndexes != null)
                            {


                                foreach (var iList in ViewBag.LstIndexes)
                                {


                                    @*<div class='col-md-1'><span class='num-bg'>@I</span></div>
                                        <div class='col-md-11'>

                                        @if (iList.Newindexname.ToUpper().Contains("D/ONO"))
                                        {<p>DELIVERY ORDER NO</p>}

                                        @if (iList.Newindexname.ToUpper().Contains("INVNO"))
                                        { <p>INVOICE NO</p> }

                                         @if (iList.Newindexname.ToUpper().Contains("INVOICENO"))
                                         {<p>INVOICE NO</p>}

                                          <p>• @iList.Newindexvalue.TrimStart('•').TrimStart('.').TrimStart(':').TrimEnd('•').TrimEnd('.').TrimEnd(':')</p>

                                        </div>
                                         <div class='clearfix'> </div>
                                         <hr size='1'>

                                            I++;*@

                        if (I == 1)
                        {

                            if (ViewBag.CreateFolderName != "" && ViewBag.CreateFolderName != "NoName")
                            {
                                <div class='col-md-1'><span class='num-bg'>@I</span></div>
                                            <div class='col-md-11'>
                                                <p>VENDOR NAME</p>
                                                <p>•@ViewBag.CreateFolderName</p>
                                            </div>
                                            <div class='clearfix'> </div>
                                            <hr size='1'>

                                I++;
                                <div class='col-md-1'><span class='num-bg'>@I</span></div>
                                            <div class='col-md-11'>

                                                @if (iList.Newindexname.ToUpper().Contains("D/ONO"))
                                                {<p>DELIVERY ORDER NO</p>}

                                                @if (iList.Newindexname.ToUpper().Contains("INVNO"))
                                                {<p>INVOICE NO</p>}

                                                @if (iList.Newindexname.ToUpper().Contains("INVOICENO"))
                                                {<p>INVOICE NO</p>}

@if (iList.Newindexname.ToUpper().Contains("ACCOUNTNO"))
{<p>ACCOUNT NO</p>}

@if (iList.Newindexname.ToUpper().Contains("BILL-ID"))
{<p>BILL-ID</p>}


                                                    @*<p>
                                                        •
                                                        <label id="lbl-@iList.NewindexId">
                                                            @iList.Newindexvalue.TrimStart('•').TrimStart('.').TrimStart(':').TrimEnd('•').TrimEnd('.').TrimEnd(':')
                                                        </label>
                                                            &nbsp;

                                                    
</p>
                                                <input type="text" style="display:none" id="txt-@iList.NewindexId" value="@iList.Newindexvalue" />
                                                <a class="edit" id="lnk-@iList.NewindexId" href="#" onclick="edit(@iList.NewindexId)">
                                                    <img src="@Url.Content("~/Images/edit-32.png")" />
                                                </a>
                                                <a class="edit" style="display:none" id="lnkup-@iList.NewindexId" href="#" onclick="Update(@iList.NewindexId)">
                                                    <img src="@Url.Content("~/Images/save-32.png")" />
                                                </a>*@

                                                <table style="width:100%">
                                                    <tr>
                                                        <td align="left">
                                                            • &nbsp;
                                                            <label id="lbl-@iList.NewindexId">
                                                                @iList.Newindexvalue.TrimStart('•').TrimStart('.').TrimStart(':').TrimEnd('•').TrimEnd('.').TrimEnd(':')
                                                            </label>
                                                            <input type="text" style="display:none" id="txt-@iList.NewindexId" value="@iList.Newindexvalue" />
                                                            &nbsp;
                                                            <a class="edit" id="lnk-@iList.NewindexId" href="#" onclick="edit(@iList.NewindexId)">
                                                                <img src="@Url.Content("~/Images/edit-32.png")" />
                                                            </a><a class="edit" style="display:none" id="lnkup-@iList.NewindexId" href="#" onclick="Update(@iList.NewindexId)">
                                                                <img src="@Url.Content("~/Images/save-32.png")" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                                    


</div>
                                            <div class='clearfix'> </div>
                                            <hr size='1'>


                            }
                            else
                            {
                                <div class='col-md-1'><span class='num-bg'>@I</span> </div>
                                            <div class='col-md-11'><p>No Vendor Matched</p><p></p>
                                </div><div class='clearfix'> </div><hr size='1'>

                                I++;

                                <div class='col-md-1'>
                                    <span class='num-bg'>@I</span>

                                </div><div class='col-md-11'>

                                    @if (iList.Newindexname.ToUpper().Contains("D/ONO"))
                                    {<p>DELIVERY ORDER NO</p>}

                                    @if (iList.Newindexname.ToUpper().Contains("INVNO"))
                                    {    <p>INVOICE NO</p>}

                                    @if (iList.Newindexname.ToUpper().Contains("INVOICENO"))
                                    {   <p>INVOICE NO</p>}

                                   
@if (iList.Newindexname.ToUpper().Contains("ACCOUNTNO"))
{<p>ACCOUNT NO</p>}

@if (iList.Newindexname.ToUpper().Contains("BILL-ID"))
{<p>BILL-ID</p>}


                                              @*<p>
                                                  •
                                                  <label id="lbl-@iList.NewindexId">
    @iList.Newindexvalue.TrimStart('•').TrimStart('.').TrimStart(':').TrimEnd('•').TrimEnd('.').TrimEnd(':')
                                                  </label>
                                                &nbsp;
                                              
</p>
                                          <input type="text" style="display:none" id="txt-@iList.NewindexId" value="@iList.Newindexvalue" />
                                          <a class="edit" id="lnk-@iList.NewindexId" href="#" onclick="edit(@iList.NewindexId)">
                                              <img src="@Url.Content("~/Images/edit-32.png")" />
                                          </a>
                                          <a class="edit" style="display:none" id="lnkup-@iList.NewindexId" href="#" onclick="Update(@iList.NewindexId)">
                                              <img src="@Url.Content("~/Images/save-32.png")" />
                                          </a>*@


                                          <table style="width:100%">
                                              <tr>
                                                  <td align="left">
                                                      • &nbsp;
                                                      <label id="lbl-@iList.NewindexId">
                                                          @iList.Newindexvalue.TrimStart('•').TrimStart('.').TrimStart(':').TrimEnd('•').TrimEnd('.').TrimEnd(':')
                                                      </label>
                                                      <input type="text" style="display:none" id="txt-@iList.NewindexId" value="@iList.Newindexvalue" />
                                                      &nbsp;
                                                      <a class="edit" id="lnk-@iList.NewindexId" href="#" onclick="edit(@iList.NewindexId)">
                                                          <img src="@Url.Content("~/Images/edit-32.png")" />
                                                      </a><a class="edit" style="display:none" id="lnkup-@iList.NewindexId" href="#" onclick="Update(@iList.NewindexId)">
                                                          <img src="@Url.Content("~/Images/save-32.png")" />
                                                      </a>
                                                  </td>
                                              </tr>
                                          </table>


                                </div>  <div class='clearfix'> </div><hr size='1'>


                            }

                        }
                        else
                        {

                            <div class='col-md-1'>  <span class='num-bg'>@I</span></div>
                                        <div class='col-md-11'>

                                            @if (iList.Newindexname.ToUpper().Contains("D/ONO"))
                                            {<p>DELIVERY ORDER NO</p>}

                                            @if (iList.Newindexname.ToUpper().Contains("INVNO"))
                                            {<p>INVOICE NO</p>}

                                            @if (iList.Newindexname.ToUpper().Contains("INVOICENO"))
                                            {<p>INVOICE NO</p>}



@if (iList.Newindexname.ToUpper().Contains("ACCOUNTNO"))
{<p>ACCOUNT NO</p>}

@if (iList.Newindexname.ToUpper().Contains("BILL-ID"))
{<p>BILL-ID</p>}


                                                @*<p>
                                                    •
                                                    <label  id="lbl-@iList.NewindexId" >
                                                        @iList.Newindexvalue.TrimStart('•').TrimStart('.').TrimStart(':').TrimEnd('•').TrimEnd('.').TrimEnd(':')
                                                    </label>
                                                    &nbsp;
                                                    
                                                </p>
                                             <input type="text" style="display:none" id="txt-@iList.NewindexId" value="@iList.Newindexvalue" />
                                             <a class="edit" id="lnk-@iList.NewindexId" href="#" onclick="edit(@iList.NewindexId)">
                                                 <img src="@Url.Content("~/Images/edit-32.png")" />
                                             </a>
                                            <a class="edit" style="display:none" id="lnkup-@iList.NewindexId" href="#" onclick="Update(@iList.NewindexId)">
                                                <img src="@Url.Content("~/Images/save-32.png")" />
                                            </a>*@
                                            


                                            <table style="width:100%">
                                                <tr>
                                                    <td align="left">
                                                        • &nbsp;
                                                        <label id="lbl-@iList.NewindexId">
                                                            @iList.Newindexvalue.TrimStart('•').TrimStart('.').TrimStart(':').TrimEnd('•').TrimEnd('.').TrimEnd(':')
                                                        </label>
                                                        <input type="text" style="display:none" id="txt-@iList.NewindexId" value="@iList.Newindexvalue" />
                                                        &nbsp;
                                                        <a class="edit" id="lnk-@iList.NewindexId" href="#" onclick="edit(@iList.NewindexId)">
                                                            <img src="@Url.Content("~/Images/edit-32.png")" />
                                                        </a><a class="edit" style="display:none" id="lnkup-@iList.NewindexId" href="#" onclick="Update(@iList.NewindexId)">
                                                            <img src="@Url.Content("~/Images/save-32.png")" />
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>


                                        </div><div class='clearfix'> </div>
                                        <hr size='1'>
                                }
                                I++;

                            }

                        }

                        if (ViewBag.OcrProcessed == "YES")
                        {
                            if (ViewBag.LstIndexes.Count == 0)
                            {
                                if (ViewBag.CreateFolderName != null && ViewBag.CreateFolderName != "NoName")
                                {
                                <div class='col-md-1'><span class='num-bg'>@I</span></div>
                                <div class='col-md-11'>
                                    <p>VENDOR NAME</p>
                                    <p>•@ViewBag.CreateFolderName</p>
                                </div>
                                    <div class='clearfix'> </div>
                                    <hr size='1'>
                                    }
                                    else
                                    {
                                    <div class='col-md-1'><span class='num-bg'>@I</span></div>
                                        <div class='col-md-11'>
                                            <p>No Vendor Matched</p><p></p>
                                        </div>
                                        <div class='clearfix'> </div>
                                        <hr size='1'>
                                    }
                                }

                            }

                            @*@if (Session["Indexs"] != null)
                                {

                                    @Html.Raw(HttpUtility.HtmlDecode(Session["Indexs"].ToString()));
                                }*@


                            @*<div class="col-md-1">
                                    <span class="num-bg">1</span>
                                </div>
                                <div class="col-md-11">
                                    <p> Employee Name</p>
                                    <p>• OCR - Alphabet</p>
                                </div>

                                <div class="clearfix"> </div>
                                <hr size="1">

                                <div class="col-md-1">
                                    <span class="num-bg">2</span>
                                </div>
                                <div class="col-md-11">
                                    <p> Employee Name</p>
                                    <p>• OCR - Alphabet</p>
                                </div>
                                <div class="clearfix"> </div>
                                <hr size="1">

                                <div class="col-md-1">
                                    <span class="num-bg">3</span>
                                </div>
                                <div class="col-md-11">
                                    <p> Employee Name</p>
                                    <p>• OCR - Alphabet</p>
                                </div>
                                <div class="clearfix"> </div>
                                <hr size="1">

                                <br><br><br><br>
                                <div class="clearfix"> </div>*@

                        }

                    </div>


                </div>
                <!-- Scrool -->




            </div>
        </div>
    </div>




                            if (Model != null)
                            {
                                <script type="text/javascript">
                                    @{
                                            System.Web.Script.Serialization.JavaScriptSerializer serialize = new System.Web.Script.Serialization.JavaScriptSerializer();
                                            serialize.MaxJsonLength = int.MaxValue;
                                            var serializeddata = serialize.Serialize(Model);
                                        }
                                    // document.onload = designer.editTemplateDesign('@Html.Raw(serializeddata)');//Json.Encode(Model))');

                                </script>
    }

    <script>

        //=====================

        //Validate  FILE size


        $('#file').bind('change', function () {
            //this.files[0].size gets the size of your file.
          //  alert(this.files[0].size);

            var Size = this.files[0].size;

            if (Size > (2048 * 1024)) {
                alert("Uploading file size should not be exceeded 2MB limit")
                //$('#btnupload').style.display = "none";
                $('#btnupload').attr('disabled', true);
            }
            else { 
                $('#btnupload').removeAttr('disabled');
            }

        });





        //============
        function edit(element) {

           // alert(element);

            var input="#txt-" + element;
            var label="#lbl-" + element;
            var link="#lnk-" + element;
            var linkup="#lnkup-" + element;

           // alert(label);
           // alert(input);

            $(input).show();
            $(label).hide();
            $(link).hide();
            $(linkup).show();

           // $(update).show();

            //$(lbl-+element).show();
            //$(edit).hide();
            //$(update).show();
            //$(input).attr('placeholder', placeholder);
        }

        function Update(element) {

           // alert(element);

            var input="#txt-" + element;
            var label="#lbl-" + element;
            var link="#lnk-" + element;
            var linkup="#lnkup-" + element;

          //   alert(label);
          //   alert(input);
          //   alert(link);
          //   alert(linkup);

        var test= $(input).val();
           // alert(test);

            $(input).hide();
            $(label).show();
            $(link).show();
            $(linkup).hide();
            $(label).text(test);


            var urlnew = "@Url.Action("Updateindex", "TenantTemplateIndexListLT")";
            
            $.ajax({
                url: urlnew,
                type: "POST",
                //contentType: "application/json",
                dataType: "json",
                data: { id: element, val: test},
                error: function (response) { alert("error"); },
                success: function (response) { alert("Index value updated successfully!");
                }
            });




        }

    </script>

    <script>


        //==============




        var urll = "@Url.Action("ProcessOcr", "TenantTemplateIndexListLT")";



        $(function () {
            $("#btnprocessocr").click(function () {
                window.location = urll;
            });
        });


    </script>





    @*<script>

        var urlSaveIndexs = "@Url.Action("SaveIndexs", "TenantTemplateIndexListLT")";

        $(function () {
            $('#btnsaveindex').click(function (e) {
                $.ajax({
                    url: urlSaveIndexs,
                    type: "POST",
                    //contentType: "application/json",
                    dataType: "json",
                    data: { desc: $("#addnameid").val(), val: $("#addindexvalue").val(), x: $("#addxid").val(), y: $("#addyid").val(), w: $("#addx2id").val(), h: $("#addy2id").val() },

                    error: function (response) {
                        alert("error");

                    },
                    success: function (response) {

                        alert("Selected field INDEXED successfully!");
                        //JsonpCallback(response);

                    }
                });
            });
        });


        function JsonpCallback(json) {


            document.getElementById('divindexadded').innerHTML = JSON.parse(json);
        }
    </script>*@







 <script>


</script>


    }